html {
	font-size: 100%
}

p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem
}

body{
	background-color:#DECEEC;
}

#container1{
    width: 95%;
    background-color: #ECCEDC;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}


/* =================================
  Page Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-size: 1em;
	font-family: 'Merriweather Sans', sans-serif;
	color: #fff;
	background: #DECEEC;
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	padding: 10px;
	background: #ffffff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #DECEEC;
	border-radius: 3px;
}

/*	--------------------------------------------------
Container
-------------------------------------------------- */
div#container, div.container { position: relative; width: 430px; margin: 0 auto; padding: 0; }


/*	--------------------------------------------------
Grid
-------------------------------------------------- */
.column-row, .row { margin: 0 0 18px -10px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 10px; }

.one { width: 100px; }
.two { width: 210px; }
.three { width: 320px; }
.four { width: 430px; }

.offset-by-one-half { margin-left: 55px; }
.offset-by-one { margin-left: 110px; }
.offset-by-two { margin-left: 220px; }

/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }

/*	IE6 Problems ---------- */
body.ie .column-row { width: 440px; }
body.ie .two-thirds .column-row { width: 890px; }
